:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --main-transition-duration: 250ms;
  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
